@import "tailwindcss";

@theme inline {
  /* Font */
  --font-sans: var(--font-raleway);

  /* Dark backgrounds */
  --color-black: #0c0c0d;
  --color-dark: #131313;
  --color-dark-gray: #272727;

  /* Grays */
  --color-mid-gray: #6f6f6f;
  --color-light-gray: #c8c8c8;

  /* Accent */
  --color-teal: #5fb9b0;
  --color-purple: #b292ff;

  /* Text */
  --color-ink: #111111;
}

body {
  background-color: #0c0c0d;
  color: #c8c8c8;
  font-family: var(--font-sans), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
